{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "objectWrap": "preserve",
  "proseWrap": "preserve"
}
